[submodule "cDashboard"]
	path = cDashboard
	url = https://github.com/jaked122/cDashboard
[submodule "travis-ci/SVG"]
	path = travis-ci/SVG
	url = https://github.com/vvvv/SVG
[submodule "SVG"]
	path = SVG
	url = https://github.com/vvvv/SVG
